@charset "utf-8";

body {
  color: #888888;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7;
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* header */
.header {
  text-align: center;
  padding-top: 30px;
}

.header__inner {
  max-width: 1000px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* footer */
.footer {
  padding: 100px 0 40px;
  background-color: #202124;
  color: #bbbbbb;
  text-align: left;
}

.footer__inner {
  max-width: 1000px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.footer__copy {
  font-size: 12px;
}

/* more --------------------------------------------------------------------------------------*/
.more {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.more__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.more__info {
  width: 47%;
}

.more__title {
  width: 80%;
  color: #202124;
  border-left: #fa6980 10px solid;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

.more__subtitle {
  color: #202124;
}

.more__category {
  color: #fa6980;
  font-style: oblique;
}

.more__time {
  background: url(./images/icon_time.png) no-repeat;
  padding-left: 26px;
}

/* trending ----------------------------------------------------------------*/
.trending {
  background-color: #f6f6f6;
}

.trending__title {
  width: 80%;
  color: #202124;
  margin-left: auto;
  margin-right: auto;
  border-left: #fa6980 10px solid;
  padding-left: 10px;
}

.trending__inner {
  display: flex;
  gap: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 1000px;
}
/* card------------------------------------------------------------- */
.trending__card {
  background-color: #ffffff;
  width: 380px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

.card__title {
  color: #202124;
  font-weight: bold;
  font-size: 18px;
}

.card__content {
  margin: 10%;
}

/* btn ----------------------------------------------------------------*/

.btn {
  display: block;
  background-color: #fa6980;
  width: 50%;
  padding: 14px 43px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin: 35px;
  align-items: right;
}
